h1 {
    color: black;
    font-size: 36px;
}

.nav-item {
    color: blue;
    font-size: 24px;
    display: inline;
    margin: 5px;
}

#copyright-text {
    color: black;
    font-size: 12px;
    font-style: italic;
}